<a href="https://colab.research.google.com/github/FeelOneE/price_prediction/blob/main/coin_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
%cd /content/drive/MyDrive/스터디/코인 트레이드/data

/content/drive/MyDrive/스터디/코인 트레이드/data

In [3]:
%ls -al

total 23809
-rw------- 1 root root   69784 Dec 19 13:56 cnn.h5
drwx------ 4 root root    4096 Dec 19 09:41 cnn_prediction/
-rw------- 1 root root  185256 Dec 20 07:40 cnn_prediction_bora.h5
-rw------- 1 root root  185352 Dec 20 08:06 cnn_prediction_eos.h5
-rw------- 1 root root 4681048 Dec 26 13:37 cnn_prediction_sand.h5
-rw------- 1 root root  185256 Dec 20 07:55 cnn_prediction_xlm.h5
-rw------- 1 root root 3802325 Dec 20 07:35 KRW-BORA.csv
-rw------- 1 root root 3832322 Dec 20 08:03 KRW-EOS.csv
-rw------- 1 root root 3836665 Dec 20 07:10 KRW-SAND.csv
-rw------- 1 root root 3740209 Dec 20 07:46 KRW-XLM.csv
-rw------- 1 root root    1349 Dec 20 07:36 scaler_bora.pkl
-rw------- 1 root root    1349 Dec 20 08:03 scaler_eos.pkl
-rw------- 1 root root    1349 Dec 19 09:40 scaler.pkl
-rw------- 1 root root    1349 Dec 20 07:16 scaler_sand.pkl
-rw------- 1 root root    1349 Dec 20 07:47 scaler_xlm.pkl
-rw------- 1 root root       0 Dec 19 07:57 train.csv
-rw------- 1 root root 3847495 Dec 18 08:07 XRP.csv

In [31]:
import pandas as pd

data = pd.read_csv("XRP.csv")
data.head(5)

    market candle_date_time_utc  ... candle_acc_trade_volume  unit
0  KRW-XRP  2021-12-17T15:05:00  ...            1.812305e+06     5
1  KRW-XRP  2021-12-17T15:00:00  ...            2.161762e+06     5
2  KRW-XRP  2021-12-17T14:55:00  ...            2.311628e+06     5
3  KRW-XRP  2021-12-17T14:50:00  ...            3.281353e+06     5
4  KRW-XRP  2021-12-17T14:45:00  ...            5.141900e+06     5

[5 rows x 11 columns]

In [32]:
# 시간 T를 기준으로 나누어 날짜는 제외하고 시간 분만 남게 처리
data['candle_date_time_kst'] = data.candle_date_time_kst.str.split('T', expand=True).apply(lambda x : x[1], axis=1)
data.head(5)

    market candle_date_time_utc  ... candle_acc_trade_volume  unit
0  KRW-XRP  2021-12-17T15:05:00  ...            1.812305e+06     5
1  KRW-XRP  2021-12-17T15:00:00  ...            2.161762e+06     5
2  KRW-XRP  2021-12-17T14:55:00  ...            2.311628e+06     5
3  KRW-XRP  2021-12-17T14:50:00  ...            3.281353e+06     5
4  KRW-XRP  2021-12-17T14:45:00  ...            5.141900e+06     5

[5 rows x 11 columns]

In [33]:
# 시간을 분으로 치환
data['candle_date_time_kst'] = data.candle_date_time_kst.str.split(':', expand=True).apply(lambda x : (int(x[0])*60)+(int(x[1])) , axis=1)
data.head(5)

    market candle_date_time_utc  ...  candle_acc_trade_volume  unit
0  KRW-XRP  2021-12-17T15:05:00  ...             1.812305e+06     5
1  KRW-XRP  2021-12-17T15:00:00  ...             2.161762e+06     5
2  KRW-XRP  2021-12-17T14:55:00  ...             2.311628e+06     5
3  KRW-XRP  2021-12-17T14:50:00  ...             3.281353e+06     5
4  KRW-XRP  2021-12-17T14:45:00  ...             5.141900e+06     5

[5 rows x 11 columns]

In [34]:
# 안쓰는 컬럼 삭제 market, utc_time, unit, timestamp
data.drop(['market','candle_date_time_utc','unit','timestamp'], axis=1, inplace=True)
data.head(5)

   candle_date_time_kst  ...  candle_acc_trade_volume
0                     5  ...             1.812305e+06
1                     0  ...             2.161762e+06
2                  1435  ...             2.311628e+06
3                  1430  ...             3.281353e+06
4                  1425  ...             5.141900e+06

[5 rows x 7 columns]

In [35]:
# price, volume 소수점 5자리까지만 
data['candle_acc_trade_price'] = data.candle_acc_trade_price.apply(lambda x : '%.5f' % x)
data['candle_acc_trade_volume'] = data.candle_acc_trade_volume.apply(lambda x : '%.5f' % x)
data.head(5)

   candle_date_time_kst  ...  candle_acc_trade_volume
0                     5  ...            1812305.45733
1                     0  ...            2161761.89739
2                  1435  ...            2311628.47649
3                  1430  ...            3281353.39430
4                  1425  ...            5141900.24199

[5 rows x 7 columns]

In [36]:
# 시간순서대로 데이터 다시 정렬
data = data[::-1]
data.head(5)

       candle_date_time_kst  ...  candle_acc_trade_volume
30199                  1240  ...            1661509.79377
30198                  1245  ...             949623.96941
30197                  1250  ...             652588.80397
30196                  1255  ...             464264.68260
30195                  1260  ...             351858.39885

[5 rows x 7 columns]

In [37]:
# 데이터 정규화
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
std_data = data.copy()
std_data[:] = scaler.fit_transform(data[:])
std_data.head(5)

       candle_date_time_kst  ...  candle_acc_trade_volume
30199              0.864111  ...                 0.021775
30198              0.867596  ...                 0.012443
30197              0.871080  ...                 0.008549
30196              0.874564  ...                 0.006081
30195              0.878049  ...                 0.004607

[5 rows x 7 columns]

In [38]:
# 학습된 정규화로 로우 데이터 정규화 수행
#data[:2]
scaler.transform(data[:2])

array([[0.8641115 , 0.78448276, 0.78323699, 0.80392157, 0.79166667,
        0.02274972, 0.02177474],
       [0.86759582, 0.79166667, 0.78323699, 0.80392157, 0.79166667,
        0.01301138, 0.01244297]])

In [ ]:
import joblib 
# 객체를 pickled binary file 형태로 저장한다 
file_name = 'scaler_eos.pkl' 
joblib.dump(scaler, file_name)

['scaler_eos.pkl']

In [ ]:
import joblib 
# pickled binary file 형태로 저장된 객체를 로딩한다 
file_name = 'scaler.pkl' 
obj = joblib.load(file_name)

In [ ]:
%ls -al

total 3759
-rw------- 1 root root    1349 Dec 19 09:40 scaler.pkl
-rw------- 1 root root       0 Dec 19 07:57 train.csv
-rw------- 1 root root 3847495 Dec 18 08:07 XRP.csv

In [39]:
# 정답 라벨 붙이기
# !-- 데이터를 60개로 묶고, 마지막 종가(trade_price)를 기준으로 
# !-- 다음 60개의 데이터 중 최대 값이 종가의 1.035배 이상인 적이 있는지 찾기

# 수익률을 반올림하여 소수점 두째 짜리 까지 라벨로 저장, 마지막에 1을 빼서 음수면 마이너스, 양수면 수익
import numpy as np

data_set = []
x_data = []
y_data = []
def find_label(index):
  tmp = []
  sample = data[index:index+120]
  next_sample = data[index+120:index+240]

  trade_price = sample['trade_price'].iloc[-1]
  
  #print(trade_price)

  price_list = []
  price_list.extend(next_sample['opening_price'])
  price_list.extend(next_sample['trade_price'])

  max_price = max(price_list)
  revenue_rate = round( (max_price / trade_price) - 1 ,2)
  
  #학습 데이터에 추가
  if revenue_rate <= 0.1 and revenue_rate >= 0 :
    y_data.append( revenue_rate * 100 )
    x_data.append(scaler.transform(sample))

  #print(max_price)

  #expect_price = trade_price*1.03
  #print(expect_price)
  

  #if max_price >= expect_price :
    #y_data.append(1)

    #return 1
  # print("trade_price : ",trade_price)
  
  # print("max_price :",max_price)
  # print("revenue_rate! : ", revenue_rate)
  # print("Y-data : ", round( revenue_rate - 1 ,2))
  # print('-'*30)
  
  #y_data.append(0)
  #return 0

In [40]:
# 전체 데이터와 정답 레이블의 비율
total_cnt = 0
cnt = 0
skip_size = 1
for idx in range(0, len(data)-240, skip_size):
  find_label(idx)
  #total_cnt += 1

#rate = float(cnt / total_cnt)
#print(rate)

In [41]:
df_label = pd.DataFrame(y_data)
print(df_label[0].value_counts())

1.0     8817
0.0     7918
2.0     5353
3.0     3427
4.0     1676
5.0      880
6.0      518
7.0      503
8.0      379
9.0      161
10.0     112
Name: 0, dtype: int64

In [15]:
import numpy as np
from keras.layers import Conv1D, Activation, MaxPool1D, Flatten, Dense,Dropout
from keras.models import Sequential
from keras.datasets import mnist
from keras.utils import np_utils

In [42]:
import numpy as np
x_data_np = np.array(x_data)
y_data_np = np_utils.to_categorical(np.array(y_data),num_classes=11)
x_data_np.shape, y_data_np.shape

((29744, 120, 7), (29744, 11))

In [43]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x_data_np, y_data_np, test_size=0.4, shuffle=True, random_state=1004 )

# 모델에 입력가능하게 차원을 축소(?)함
x_train = np.expand_dims(x_train,-1)
x_test = np.expand_dims(x_test,-1)
x_train.shape, x_test.shape

x_train.shape,x_test.shape,y_train.shape,y_test.shape

((17846, 120, 7, 1), (11898, 120, 7, 1), (17846, 11), (11898, 11))

In [44]:
n_timesteps, n_features, n_outputs = x_train.shape[1], x_train.shape[2], y_train.shape[1]
n_timesteps, n_features, n_outputs

(120, 7, 11)

In [45]:
n_timesteps, n_features, n_outputs = x_train.shape[1], x_train.shape[2], y_train.shape[1]

verbose, epochs, batch_size = 2, 100, 32

model = Sequential()
model.add(Conv1D(filters=64, kernel_size=3, activation='relu', input_shape=(n_timesteps,n_features)))
model.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
model.add(Dropout(0.5))
model.add(MaxPool1D(pool_size=2))
model.add(Flatten())
model.add(Dense(100, activation='relu'))
model.add(Dense(n_outputs, activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d_6 (Conv1D)           (None, 118, 64)           1408

 conv1d_7 (Conv1D)           (None, 116, 64)           12352

 dropout_3 (Dropout)         (None, 116, 64)           0

 max_pooling1d_3 (MaxPooling  (None, 58, 64)           0
 1D)

 flatten_3 (Flatten)         (None, 3712)              0

 dense_6 (Dense)             (None, 100)               371300

 dense_7 (Dense)             (None, 11)                1111

=================================================================
Total params: 386,171
Trainable params: 386,171
Non-trainable params: 0
_________________________________________________________________

In [46]:
# fit network
model.fit(x_train, y_train, epochs=epochs, batch_size=batch_size, verbose=verbose, validation_data=(x_test,y_test))

Epoch 1/100
558/558 - 15s - loss: 1.7713 - accuracy: 0.2908 - val_loss: 1.8134 - val_accuracy: 0.3006 - 15s/epoch - 26ms/step
Epoch 2/100
558/558 - 14s - loss: 1.7234 - accuracy: 0.3049 - val_loss: 1.7300 - val_accuracy: 0.3096 - 14s/epoch - 24ms/step
Epoch 3/100
558/558 - 14s - loss: 1.6851 - accuracy: 0.3176 - val_loss: 1.7171 - val_accuracy: 0.3197 - 14s/epoch - 24ms/step
Epoch 4/100
558/558 - 14s - loss: 1.6488 - accuracy: 0.3349 - val_loss: 1.6820 - val_accuracy: 0.3359 - 14s/epoch - 24ms/step
Epoch 5/100
558/558 - 13s - loss: 1.6027 - accuracy: 0.3515 - val_loss: 1.6923 - val_accuracy: 0.3590 - 13s/epoch - 24ms/step
Epoch 6/100
558/558 - 14s - loss: 1.5500 - accuracy: 0.3748 - val_loss: 1.6420 - val_accuracy: 0.3581 - 14s/epoch - 24ms/step
Epoch 7/100
558/558 - 14s - loss: 1.5023 - accuracy: 0.3906 - val_loss: 1.5782 - val_accuracy: 0.3752 - 14s/epoch - 24ms/step
Epoch 8/100
558/558 - 13s - loss: 1.4554 - accuracy: 0.4089 - val_loss: 1.5288 - val_accuracy: 0.3979 - 13s/epoch - 24ms/step
Epoch 9/100
558/558 - 18s - loss: 1.4066 - accuracy: 0.4340 - val_loss: 1.5400 - val_accuracy: 0.4069 - 18s/epoch - 32ms/step
Epoch 10/100
558/558 - 13s - loss: 1.3676 - accuracy: 0.4456 - val_loss: 1.4879 - val_accuracy: 0.4137 - 13s/epoch - 23ms/step
Epoch 11/100
558/558 - 13s - loss: 1.3273 - accuracy: 0.4616 - val_loss: 1.4812 - val_accuracy: 0.4256 - 13s/epoch - 24ms/step
Epoch 12/100
558/558 - 13s - loss: 1.2878 - accuracy: 0.4792 - val_loss: 1.4662 - val_accuracy: 0.4209 - 13s/epoch - 24ms/step
Epoch 13/100
558/558 - 13s - loss: 1.2575 - accuracy: 0.4913 - val_loss: 1.4440 - val_accuracy: 0.4405 - 13s/epoch - 23ms/step
Epoch 14/100
558/558 - 13s - loss: 1.2222 - accuracy: 0.5069 - val_loss: 1.4070 - val_accuracy: 0.4526 - 13s/epoch - 23ms/step
Epoch 15/100
558/558 - 13s - loss: 1.1894 - accuracy: 0.5276 - val_loss: 1.4057 - val_accuracy: 0.4457 - 13s/epoch - 24ms/step
Epoch 16/100
558/558 - 13s - loss: 1.1652 - accuracy: 0.5322 - val_loss: 1.3884 - val_accuracy: 0.4600 - 13s/epoch - 24ms/step
Epoch 17/100
558/558 - 13s - loss: 1.1325 - accuracy: 0.5395 - val_loss: 1.3636 - val_accuracy: 0.4781 - 13s/epoch - 23ms/step
Epoch 18/100
558/558 - 13s - loss: 1.1037 - accuracy: 0.5535 - val_loss: 1.3494 - val_accuracy: 0.4852 - 13s/epoch - 24ms/step
Epoch 19/100
558/558 - 13s - loss: 1.0748 - accuracy: 0.5692 - val_loss: 1.3607 - val_accuracy: 0.4814 - 13s/epoch - 24ms/step
Epoch 20/100
558/558 - 13s - loss: 1.0514 - accuracy: 0.5813 - val_loss: 1.3390 - val_accuracy: 0.4924 - 13s/epoch - 23ms/step
Epoch 21/100
558/558 - 13s - loss: 1.0226 - accuracy: 0.5841 - val_loss: 1.3431 - val_accuracy: 0.4989 - 13s/epoch - 23ms/step
Epoch 22/100
558/558 - 13s - loss: 0.9990 - accuracy: 0.5991 - val_loss: 1.3086 - val_accuracy: 0.5176 - 13s/epoch - 23ms/step
Epoch 23/100
558/558 - 13s - loss: 0.9809 - accuracy: 0.6081 - val_loss: 1.3108 - val_accuracy: 0.5023 - 13s/epoch - 23ms/step
Epoch 24/100
558/558 - 13s - loss: 0.9652 - accuracy: 0.6169 - val_loss: 1.2942 - val_accuracy: 0.5187 - 13s/epoch - 23ms/step
Epoch 25/100
558/558 - 13s - loss: 0.9350 - accuracy: 0.6270 - val_loss: 1.2987 - val_accuracy: 0.5265 - 13s/epoch - 23ms/step
Epoch 26/100
558/558 - 13s - loss: 0.9191 - accuracy: 0.6342 - val_loss: 1.3042 - val_accuracy: 0.5256 - 13s/epoch - 23ms/step
Epoch 27/100
558/558 - 13s - loss: 0.8964 - accuracy: 0.6392 - val_loss: 1.2774 - val_accuracy: 0.5309 - 13s/epoch - 23ms/step
Epoch 28/100
558/558 - 13s - loss: 0.8764 - accuracy: 0.6506 - val_loss: 1.2859 - val_accuracy: 0.5340 - 13s/epoch - 23ms/step
Epoch 29/100
558/558 - 13s - loss: 0.8599 - accuracy: 0.6560 - val_loss: 1.2752 - val_accuracy: 0.5411 - 13s/epoch - 24ms/step
Epoch 30/100
558/558 - 13s - loss: 0.8474 - accuracy: 0.6671 - val_loss: 1.2883 - val_accuracy: 0.5425 - 13s/epoch - 23ms/step
Epoch 31/100
558/558 - 13s - loss: 0.8364 - accuracy: 0.6711 - val_loss: 1.2770 - val_accuracy: 0.5510 - 13s/epoch - 23ms/step
Epoch 32/100
558/558 - 13s - loss: 0.8130 - accuracy: 0.6746 - val_loss: 1.2926 - val_accuracy: 0.5545 - 13s/epoch - 24ms/step
Epoch 33/100
558/558 - 13s - loss: 0.7945 - accuracy: 0.6859 - val_loss: 1.2498 - val_accuracy: 0.5609 - 13s/epoch - 23ms/step
Epoch 34/100
558/558 - 13s - loss: 0.7841 - accuracy: 0.6889 - val_loss: 1.2648 - val_accuracy: 0.5603 - 13s/epoch - 23ms/step
Epoch 35/100
558/558 - 13s - loss: 0.7722 - accuracy: 0.6958 - val_loss: 1.2524 - val_accuracy: 0.5618 - 13s/epoch - 23ms/step
Epoch 36/100
558/558 - 13s - loss: 0.7606 - accuracy: 0.6982 - val_loss: 1.2673 - val_accuracy: 0.5419 - 13s/epoch - 23ms/step
Epoch 37/100
558/558 - 13s - loss: 0.7519 - accuracy: 0.7031 - val_loss: 1.2593 - val_accuracy: 0.5624 - 13s/epoch - 23ms/step
Epoch 38/100
558/558 - 13s - loss: 0.7414 - accuracy: 0.7071 - val_loss: 1.2657 - val_accuracy: 0.5723 - 13s/epoch - 23ms/step
Epoch 39/100
558/558 - 13s - loss: 0.7255 - accuracy: 0.7159 - val_loss: 1.2664 - val_accuracy: 0.5688 - 13s/epoch - 24ms/step
Epoch 40/100
558/558 - 13s - loss: 0.7053 - accuracy: 0.7227 - val_loss: 1.2482 - val_accuracy: 0.5825 - 13s/epoch - 23ms/step
Epoch 41/100
558/558 - 13s - loss: 0.6995 - accuracy: 0.7276 - val_loss: 1.2532 - val_accuracy: 0.5753 - 13s/epoch - 23ms/step
Epoch 42/100
558/558 - 13s - loss: 0.6844 - accuracy: 0.7338 - val_loss: 1.2486 - val_accuracy: 0.5835 - 13s/epoch - 24ms/step
Epoch 43/100
558/558 - 13s - loss: 0.6842 - accuracy: 0.7320 - val_loss: 1.2722 - val_accuracy: 0.5819 - 13s/epoch - 23ms/step
Epoch 44/100
558/558 - 13s - loss: 0.6681 - accuracy: 0.7370 - val_loss: 1.2481 - val_accuracy: 0.5962 - 13s/epoch - 23ms/step
Epoch 45/100
558/558 - 13s - loss: 0.6619 - accuracy: 0.7406 - val_loss: 1.2677 - val_accuracy: 0.5776 - 13s/epoch - 23ms/step
Epoch 46/100
558/558 - 13s - loss: 0.6452 - accuracy: 0.7436 - val_loss: 1.2740 - val_accuracy: 0.5884 - 13s/epoch - 24ms/step
Epoch 47/100
558/558 - 13s - loss: 0.6419 - accuracy: 0.7489 - val_loss: 1.2666 - val_accuracy: 0.5861 - 13s/epoch - 23ms/step
Epoch 48/100
558/558 - 13s - loss: 0.6431 - accuracy: 0.7480 - val_loss: 1.2644 - val_accuracy: 0.5874 - 13s/epoch - 23ms/step
Epoch 49/100
558/558 - 13s - loss: 0.6177 - accuracy: 0.7630 - val_loss: 1.2570 - val_accuracy: 0.5926 - 13s/epoch - 23ms/step
Epoch 50/100
558/558 - 13s - loss: 0.6214 - accuracy: 0.7589 - val_loss: 1.2899 - val_accuracy: 0.5923 - 13s/epoch - 24ms/step
Epoch 51/100
558/558 - 13s - loss: 0.6135 - accuracy: 0.7601 - val_loss: 1.2791 - val_accuracy: 0.5946 - 13s/epoch - 23ms/step
Epoch 52/100
558/558 - 13s - loss: 0.5989 - accuracy: 0.7638 - val_loss: 1.2507 - val_accuracy: 0.6046 - 13s/epoch - 23ms/step
Epoch 53/100
558/558 - 13s - loss: 0.5977 - accuracy: 0.7690 - val_loss: 1.2918 - val_accuracy: 0.5941 - 13s/epoch - 24ms/step
Epoch 54/100
558/558 - 13s - loss: 0.5954 - accuracy: 0.7707 - val_loss: 1.2768 - val_accuracy: 0.5997 - 13s/epoch - 23ms/step
Epoch 55/100
558/558 - 13s - loss: 0.5888 - accuracy: 0.7756 - val_loss: 1.2974 - val_accuracy: 0.5982 - 13s/epoch - 24ms/step
Epoch 56/100
558/558 - 13s - loss: 0.5684 - accuracy: 0.7770 - val_loss: 1.2848 - val_accuracy: 0.6087 - 13s/epoch - 24ms/step
Epoch 57/100
558/558 - 13s - loss: 0.5637 - accuracy: 0.7844 - val_loss: 1.2802 - val_accuracy: 0.5996 - 13s/epoch - 24ms/step
Epoch 58/100
558/558 - 13s - loss: 0.5639 - accuracy: 0.7799 - val_loss: 1.2912 - val_accuracy: 0.6072 - 13s/epoch - 24ms/step
Epoch 59/100
558/558 - 13s - loss: 0.5578 - accuracy: 0.7829 - val_loss: 1.3043 - val_accuracy: 0.6021 - 13s/epoch - 24ms/step
Epoch 60/100
558/558 - 13s - loss: 0.5450 - accuracy: 0.7909 - val_loss: 1.3160 - val_accuracy: 0.6059 - 13s/epoch - 24ms/step
Epoch 61/100
558/558 - 13s - loss: 0.5484 - accuracy: 0.7890 - val_loss: 1.2827 - val_accuracy: 0.6204 - 13s/epoch - 24ms/step
Epoch 62/100
558/558 - 14s - loss: 0.5377 - accuracy: 0.7913 - val_loss: 1.3052 - val_accuracy: 0.6131 - 14s/epoch - 24ms/step
Epoch 63/100
558/558 - 13s - loss: 0.5356 - accuracy: 0.7890 - val_loss: 1.3190 - val_accuracy: 0.6096 - 13s/epoch - 24ms/step
Epoch 64/100
558/558 - 13s - loss: 0.5286 - accuracy: 0.7944 - val_loss: 1.3013 - val_accuracy: 0.6217 - 13s/epoch - 24ms/step
Epoch 65/100
558/558 - 13s - loss: 0.5128 - accuracy: 0.8011 - val_loss: 1.2869 - val_accuracy: 0.6177 - 13s/epoch - 24ms/step
Epoch 66/100
558/558 - 13s - loss: 0.5145 - accuracy: 0.7995 - val_loss: 1.3236 - val_accuracy: 0.6178 - 13s/epoch - 24ms/step
Epoch 67/100
558/558 - 13s - loss: 0.5091 - accuracy: 0.7996 - val_loss: 1.2826 - val_accuracy: 0.6230 - 13s/epoch - 23ms/step
Epoch 68/100
558/558 - 13s - loss: 0.4931 - accuracy: 0.8100 - val_loss: 1.3236 - val_accuracy: 0.6228 - 13s/epoch - 23ms/step
Epoch 69/100
558/558 - 13s - loss: 0.4934 - accuracy: 0.8086 - val_loss: 1.3259 - val_accuracy: 0.6216 - 13s/epoch - 23ms/step
Epoch 70/100
558/558 - 13s - loss: 0.4974 - accuracy: 0.8094 - val_loss: 1.2964 - val_accuracy: 0.6246 - 13s/epoch - 23ms/step
Epoch 71/100
558/558 - 13s - loss: 0.4815 - accuracy: 0.8169 - val_loss: 1.3557 - val_accuracy: 0.6116 - 13s/epoch - 23ms/step
Epoch 72/100
558/558 - 13s - loss: 0.4753 - accuracy: 0.8181 - val_loss: 1.3061 - val_accuracy: 0.6170 - 13s/epoch - 23ms/step
Epoch 73/100
558/558 - 13s - loss: 0.4745 - accuracy: 0.8176 - val_loss: 1.3134 - val_accuracy: 0.6251 - 13s/epoch - 23ms/step
Epoch 74/100
558/558 - 13s - loss: 0.4725 - accuracy: 0.8183 - val_loss: 1.3384 - val_accuracy: 0.6258 - 13s/epoch - 23ms/step
Epoch 75/100
558/558 - 13s - loss: 0.4775 - accuracy: 0.8168 - val_loss: 1.3468 - val_accuracy: 0.6336 - 13s/epoch - 23ms/step
Epoch 76/100
558/558 - 13s - loss: 0.4538 - accuracy: 0.8258 - val_loss: 1.3541 - val_accuracy: 0.6204 - 13s/epoch - 24ms/step
Epoch 77/100
558/558 - 13s - loss: 0.4570 - accuracy: 0.8226 - val_loss: 1.3379 - val_accuracy: 0.6345 - 13s/epoch - 23ms/step
Epoch 78/100
558/558 - 13s - loss: 0.4568 - accuracy: 0.8288 - val_loss: 1.3454 - val_accuracy: 0.6278 - 13s/epoch - 23ms/step
Epoch 79/100
558/558 - 13s - loss: 0.4543 - accuracy: 0.8275 - val_loss: 1.4034 - val_accuracy: 0.6100 - 13s/epoch - 23ms/step
Epoch 80/100
558/558 - 13s - loss: 0.4492 - accuracy: 0.8270 - val_loss: 1.3510 - val_accuracy: 0.6392 - 13s/epoch - 23ms/step
Epoch 81/100
558/558 - 13s - loss: 0.4497 - accuracy: 0.8293 - val_loss: 1.3639 - val_accuracy: 0.6354 - 13s/epoch - 23ms/step
Epoch 82/100
558/558 - 13s - loss: 0.4446 - accuracy: 0.8328 - val_loss: 1.3468 - val_accuracy: 0.6329 - 13s/epoch - 23ms/step
Epoch 83/100
558/558 - 13s - loss: 0.4542 - accuracy: 0.8257 - val_loss: 1.3712 - val_accuracy: 0.6341 - 13s/epoch - 23ms/step
Epoch 84/100
558/558 - 13s - loss: 0.4359 - accuracy: 0.8342 - val_loss: 1.3536 - val_accuracy: 0.6357 - 13s/epoch - 24ms/step
Epoch 85/100
558/558 - 13s - loss: 0.4285 - accuracy: 0.8360 - val_loss: 1.3861 - val_accuracy: 0.6350 - 13s/epoch - 24ms/step
Epoch 86/100
558/558 - 13s - loss: 0.4324 - accuracy: 0.8348 - val_loss: 1.3643 - val_accuracy: 0.6326 - 13s/epoch - 23ms/step
Epoch 87/100
558/558 - 13s - loss: 0.4198 - accuracy: 0.8386 - val_loss: 1.4099 - val_accuracy: 0.6214 - 13s/epoch - 23ms/step
Epoch 88/100
558/558 - 13s - loss: 0.4243 - accuracy: 0.8414 - val_loss: 1.4050 - val_accuracy: 0.6331 - 13s/epoch - 23ms/step
Epoch 89/100
558/558 - 13s - loss: 0.4268 - accuracy: 0.8400 - val_loss: 1.3831 - val_accuracy: 0.6370 - 13s/epoch - 23ms/step
Epoch 90/100
558/558 - 13s - loss: 0.4176 - accuracy: 0.8456 - val_loss: 1.4449 - val_accuracy: 0.6285 - 13s/epoch - 23ms/step
Epoch 91/100
558/558 - 13s - loss: 0.4284 - accuracy: 0.8381 - val_loss: 1.4134 - val_accuracy: 0.6302 - 13s/epoch - 23ms/step
Epoch 92/100
558/558 - 13s - loss: 0.4208 - accuracy: 0.8394 - val_loss: 1.4195 - val_accuracy: 0.6272 - 13s/epoch - 24ms/step
Epoch 93/100
558/558 - 13s - loss: 0.4060 - accuracy: 0.8450 - val_loss: 1.4560 - val_accuracy: 0.6367 - 13s/epoch - 23ms/step
Epoch 94/100
558/558 - 13s - loss: 0.4052 - accuracy: 0.8479 - val_loss: 1.4023 - val_accuracy: 0.6441 - 13s/epoch - 23ms/step
Epoch 95/100
558/558 - 13s - loss: 0.4032 - accuracy: 0.8492 - val_loss: 1.3822 - val_accuracy: 0.6432 - 13s/epoch - 23ms/step
Epoch 96/100
558/558 - 13s - loss: 0.4012 - accuracy: 0.8484 - val_loss: 1.4191 - val_accuracy: 0.6409 - 13s/epoch - 23ms/step
Epoch 97/100
558/558 - 13s - loss: 0.4109 - accuracy: 0.8469 - val_loss: 1.3947 - val_accuracy: 0.6420 - 13s/epoch - 23ms/step
Epoch 98/100
558/558 - 13s - loss: 0.3938 - accuracy: 0.8526 - val_loss: 1.4253 - val_accuracy: 0.6390 - 13s/epoch - 23ms/step
Epoch 99/100
558/558 - 13s - loss: 0.3898 - accuracy: 0.8527 - val_loss: 1.4183 - val_accuracy: 0.6412 - 13s/epoch - 24ms/step
Epoch 100/100
558/558 - 13s - loss: 0.3953 - accuracy: 0.8502 - val_loss: 1.4253 - val_accuracy: 0.6327 - 13s/epoch - 24ms/step

In [ ]:
# Images fed into this model are 512 x 512 pixels with 3 channels

data_shape = (120,7,1)
#data_shape = (28,28,1)

# Set up the model

model = Sequential()

# Add convolutional layer with 3, 3 by 3 filters and a stride size of 1
# Set padding so that input size equals output size

model.add(Conv1D(4,3,input_shape=data_shape))
model.add(Flatten())
model.add(Dense(10,activation='relu'))
model.add(Dense(10,activation='relu'))
model.add(Dense(2,activation='softmax'))

model.compile(loss='sparse_categorical_crossentropy', optimizer = 'adam', metrics=['accuracy'])

model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d_3 (Conv1D)           (None, 60, 5, 4)          16

 flatten_3 (Flatten)         (None, 1200)              0

 dense_9 (Dense)             (None, 10)                12010

 dense_10 (Dense)            (None, 10)                110

 dense_11 (Dense)            (None, 2)                 22

=================================================================
Total params: 12,158
Trainable params: 12,158
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# 모델 학습

model.fit(x_train, y_train, epochs=10, validation_data=(x_test,y_test) )

Epoch 1/10
564/564 [==============================] - 4s 6ms/step - loss: 0.3567 - accuracy: 0.8883 - val_loss: 0.3410 - val_accuracy: 0.8902
Epoch 2/10
564/564 [==============================] - 3s 6ms/step - loss: 0.3432 - accuracy: 0.8883 - val_loss: 0.3328 - val_accuracy: 0.8902
Epoch 3/10
564/564 [==============================] - 3s 6ms/step - loss: 0.3326 - accuracy: 0.8894 - val_loss: 0.3265 - val_accuracy: 0.8905
Epoch 4/10
564/564 [==============================] - 4s 6ms/step - loss: 0.3286 - accuracy: 0.8908 - val_loss: 0.3240 - val_accuracy: 0.8892
Epoch 5/10
564/564 [==============================] - 4s 6ms/step - loss: 0.3271 - accuracy: 0.8897 - val_loss: 0.3180 - val_accuracy: 0.8922
Epoch 6/10
564/564 [==============================] - 6s 10ms/step - loss: 0.3242 - accuracy: 0.8905 - val_loss: 0.3180 - val_accuracy: 0.8923
Epoch 7/10
564/564 [==============================] - 7s 12ms/step - loss: 0.3227 - accuracy: 0.8911 - val_loss: 0.3316 - val_accuracy: 0.8921
Epoch 8/10
564/564 [==============================] - 3s 5ms/step - loss: 0.3229 - accuracy: 0.8916 - val_loss: 0.3167 - val_accuracy: 0.8935
Epoch 9/10
564/564 [==============================] - 3s 6ms/step - loss: 0.3217 - accuracy: 0.8918 - val_loss: 0.3207 - val_accuracy: 0.8929
Epoch 10/10
564/564 [==============================] - 3s 6ms/step - loss: 0.3218 - accuracy: 0.8925 - val_loss: 0.3170 - val_accuracy: 0.8944

In [49]:
y_test[3]

array([0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32)

In [52]:
result = model.predict(np.array([x_test[3]]))
print(result)
print(round(result[0][2],2) )
print(sum(result[0][:2]))
print(sum(result[0][2:11]))

[[9.7497785e-03 4.9183413e-01 3.9344984e-01 7.8155018e-02 3.3262772e-03
  2.3224082e-02 2.5867202e-04 2.2469571e-06 2.1050893e-08 5.3457794e-12
  1.9571680e-09]]
0.39
0.501583912409842
0.4984161624042898

In [47]:
model.save('cnn_prediction_xrp.h5')

In [48]:
%ls -al

total 28381
-rw------- 1 root root   69784 Dec 19 13:56 cnn.h5
drwx------ 4 root root    4096 Dec 19 09:41 cnn_prediction/
-rw------- 1 root root  185256 Dec 20 07:40 cnn_prediction_bora.h5
-rw------- 1 root root  185352 Dec 20 08:06 cnn_prediction_eos.h5
-rw------- 1 root root 4681048 Dec 26 15:14 cnn_prediction_sand.h5
-rw------- 1 root root  185256 Dec 20 07:55 cnn_prediction_xlm.h5
-rw------- 1 root root 4681048 Dec 26 16:04 cnn_prediction_xrp.h5
-rw------- 1 root root 3802325 Dec 20 07:35 KRW-BORA.csv
-rw------- 1 root root 3832322 Dec 20 08:03 KRW-EOS.csv
-rw------- 1 root root 3836665 Dec 20 07:10 KRW-SAND.csv
-rw------- 1 root root 3740209 Dec 20 07:46 KRW-XLM.csv
-rw------- 1 root root    1349 Dec 20 07:36 scaler_bora.pkl
-rw------- 1 root root    1349 Dec 20 08:03 scaler_eos.pkl
-rw------- 1 root root    1349 Dec 19 09:40 scaler.pkl
-rw------- 1 root root    1349 Dec 20 07:16 scaler_sand.pkl
-rw------- 1 root root    1349 Dec 20 07:47 scaler_xlm.pkl
-rw------- 1 root root       0 Dec 19 07:57 train.csv
-rw------- 1 root root 3847495 Dec 18 08:07 XRP.csv

In [ ]:
%pwd

'/content/drive/My Drive/스터디/코인 트레이드/data'

In [ ]:
from tensorflow import keras
model = keras.models.load_model('cnn_prediction')

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d (Conv1D)             (None, 60, 5, 4)          16

 flatten (Flatten)           (None, 1200)              0

 dense (Dense)               (None, 10)                12010

 dense_1 (Dense)             (None, 10)                110

 dense_2 (Dense)             (None, 2)                 22

=================================================================
Total params: 12,158
Trainable params: 12,158
Non-trainable params: 0
_________________________________________________________________

In [ ]:
%ls -al

total 3832
-rw------- 1 root root   69784 Dec 19 13:56 cnn.h5
drwx------ 4 root root    4096 Dec 19 09:41 cnn_prediction/
-rw------- 1 root root    1349 Dec 19 09:40 scaler.pkl
-rw------- 1 root root       0 Dec 19 07:57 train.csv
-rw------- 1 root root 3847495 Dec 18 08:07 XRP.csv

In [ ]:
data = x_test[0]

re_data = np.array([data,])


x_test.shape, data.shape, re_data.shape
#model.predict(data)

((12032, 60, 7, 1), (60, 7, 1), (1, 60, 7, 1))